body {
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.main-container {
    background-color: white;
    width: 99%;
    margin: auto;
    padding: 10px;
}

.img-header {
    display: flex;
}

.img-header img {
    width: 100%;
}

.logo-hotel {
    width: 80%;
    position: absolute;
    top: -1%;
    left: 10%;
}

.logo-hotel img {
    width: 30%;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.menu-header a {
    flex: 1;
    text-decoration: none;
    background-color: rgb(170, 170, 170);
    color: black;
    padding: 10px;
    text-align: center;
}

.menu-header a:hover {
    background-color: rgb(197, 197, 197);
    color: white;
}

.label-kamar {
    padding: 20px;
    background-color: #ffffff;
}

.label-kamar h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.info-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
  
.tipe-kamar {
    flex: 1 0 30%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}
  
.tipe-kamar img {
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
}
  
.tipe-kamar h3 {
    margin: 5px 0;
    font-size: 1.2em;
}

.tipe-kamar button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 11px 20px;
    text-decoration: none;
    border-radius: 6px;
    border: none;
}
  
.tipe-kamar button:hover {
    background-color: #3e8e41;
}

.tipe-kamar a {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px;
}
  
.tipe-kamar a:hover {
    background-color: #3e8e41;
}

@media (max-width: 768px) {
    .tipe-kamar {
      flex: 1 0 100%;
    }
}

footer {
    background-color: rgb(170, 170, 170);
    padding: 30px;
    text-align: center;
}
  
footer h3 {
    margin: 0;
    font-size: 18px;
}